@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --swiper-navigation-color: white;
}

.swiper-button-next,
.swiper-button-prev {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 2rem;
  border-radius: 50%;
  transition: transform 0.3s;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  transform: scale(1.1);
}
